body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

main {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

@media (max-width: 500px) {
  body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  header {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
}
.noborder {
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.fas {
  color: #ed9003;
}

.fal {
  color: #ffd700;
}

.far {
  color: #ed9003;
}
.material-icons-outlined {
  color: #ed9003;
  width: 2rem;
}

.fa {
  color: #ed9003;
}

main {
  min-height: 80vh;
}

.margins {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.H1 {
  font-size: 3rem;
  border-color: #ed9003;

  padding: 1.5rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel {
  background-color: white;
}
h3 {
  color: black;
}

.carousel-caption h6 {
  color: #fff;
  font-size: 20px;
}

.carousel img {
  height: 400px;
  width: 800px;
  padding: 30px;
  margin-bottom: 40px;

  border-radius: 10%;
}
.carousel a {
  margin: 0 auto;
}
.material-icons-outlined {
  font-size: 30px;
}

#outer-container {
  width: 100vw;
}
@media (max-width: 400px) {
  h6 {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .head {
    height: 200px;
  }
  .image {
    width: 20px;
    height: 20px;
  }

  .imge {
    width: 60px;

    margin-left: 0rem;
    margin-right: 0.5rem;
    height: 60px;
  }
}
.bm-burger-button {
  position: absolute;
  right: 5px;
  top: 12px;
  width: 25px;
  height: 20px;

  margin: auto;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ed9003;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #f1f7a1;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 60px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #e4ac59;
}
.label-btn {
  background-color: black;
}
.label-btn :active {
  background-color: #fe37cc;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  height: 100%;
  top: 0px;
  right: 0px;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

/* Wrapper for item list */
.bm-item-list {
  color: #e2d221;
}

/* Styling of overlay */

/* Individual item */
.bm-item {
  display: inline-block;

  color: #ed9003;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #d1d1d1;
}

.bm-menu {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.sidenav {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
